
<ion-row scrollX="true" style="width: 100%;" >
<ion-col style="width: 40%;">
  <ion-list>
    <ion-text color="black" style="font-weight: bold;font-size: 20px;" >
      Progress Tracker
    </ion-text>
    <ion-row style="height: 5px"></ion-row>
    <ion-note>
      Understanding this nutrition terms may make it easier
    </ion-note>
    <ion-row style="height: 20px"></ion-row>
    <ion-card class="ion-padding" style="max-width: 400px; max-height: 120px; min-width: 80px; min-width: 80px;">
        
        <ion-card-header>
         
          <ion-card-title shape="circle">
            <ion-avatar>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          </ion-card-title>
          <ion-card-subtitle>
            Average Proteins
        </ion-card-subtitle>
        </ion-card-header >
        
        <ion-card-content>
         360mg
        </ion-card-content>
      </ion-card>
      <ion-row style="height: 20px"></ion-row>
      <ion-card class="ion-padding" style="max-width: 400px; max-height: 120px; min-width: 80px; min-width: 80px;">
        
        <ion-card-header>
         
          <ion-card-title shape="circle">
            <ion-avatar>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          </ion-card-title>
          <ion-card-subtitle>
            Average Proteins
        </ion-card-subtitle>
        </ion-card-header >
        
        <ion-card-content>
         360mg
        </ion-card-content>
      </ion-card>
  </ion-list>
</ion-col>
<ion-col >
  <ion-content style="height:100%; max-width: 800px; min-width: 180px; "  >
   <ion-col>
     <ion-row>
       <ion-col>
        <ion-text  style="font-weight: bold;font-size: 18px; color: white;" >
          Progress Tracker
        </ion-text>
        <ion-row style="height: 2px"></ion-row>
        <ion-note style="font-size: 12px;">
          Understanding this nutrition terms may make it easier
        </ion-note>
       </ion-col>
       <ion-col>
         <ion-row>
           <ion-col>
             <ion-button></ion-button>
           </ion-col>
           <ion-col>
            <ion-button></ion-button>
          </ion-col>
          <ion-col>
            <ion-button></ion-button>
          </ion-col>
         </ion-row>
       </ion-col>
     </ion-row>
   
     <ion-row >
       <ion-col ></ion-col>
       <ion-col>
         <ion-content style="width: 130px;height: 220px;">

         </ion-content>
       </ion-col>
       <ion-col>
        <ion-content style="width: 130px;height: 220px;">

        </ion-content>
      </ion-col>
      <ion-col>
        <ion-content style="width: 130px;height: 220px;">

        </ion-content>
      </ion-col>
      <ion-col>
        <ion-content style="width: 130px;height: 220px;">

        </ion-content>
      </ion-col>
      <ion-col>
       
      </ion-col>
     </ion-row>
   </ion-col>
  </ion-content>
</ion-col>
</ion-row>
