.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
ion-row{
  padding-left: 15px;
  
}
ion-card{
   
    padding-top: 0%;
    
    
  }
  
  ion-content{
    border: 1px solid black;
    --ion-background-color: black;
  }
  
  ion-avatar {
    width: 20px;
    height: 20px;
  }
   ion-icon {
  font-size: 20px;
 
  
}
ion-list{
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

